<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Dados do Agendamento</title>
</head>
<body class="container mt-5">
    <h1>Dados do Agendamento</h1>

    <ul class="list-group">
        <li class="list-group-item">Nome: <%= nome %></li>
        <li class="list-group-item">Endereço: <%= endereco %></li>
        <li class="list-group-item">Telefone: <%= telefone %></li>
        <li class="list-group-item">Data de Agendamento: <%= data %></li>
    </ul>
</body>
</html>
